<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Telephone - Page Not Found</title>
		<link rel="shorcut icon" href="/telephone/graphics/favicon.ico">		
		<link rel="stylesheet" type="text/css" media="all" href="/telephone/css/reset-min.css">
		<link rel="stylesheet" type="text/css" media="all" href="/telephone/css/screen.css">
	</head>
	<body id="basic">
		<div id="stageframe">
			<div id="stage">
				<div id="header">
					<div id="header-shadow"></div>
				</div>
				<div id="scrollfield">
					<div id="content">
						<h1>Page not found.</h1>
						<p>We could not find the page you were looking for.<br>Perhaps you want to check the address and try again?<br>Or, <a href="/telephone/">click here</a> to play telephone.</p>
						<img id="lone-phone" src="/telephone/graphics/lone-phone.png" alt="lone phone">
					</div>
					<div id="footer">
					</div>
				</div>
				<div class="stage-shadow" id="stage-shadow-top"></div>
				<div class="stage-shadow" id="stage-shadow-right"></div>
				<div class="stage-shadow" id="stage-shadow-bottom"></div>
				<div class="stage-shadow" id="stage-shadow-left"></div>
			</div>
			<div class="stage-border" id="stage-border-top"></div>
			<div class="stage-border" id="stage-border-right"></div>
			<div class="stage-border" id="stage-border-bottom"></div>
			<div class="stage-border" id="stage-border-left"></div>
		</div>
	</body>
</html>